{% extends 'base.html.twig' %}

{% block title %}Home {% endblock %}

{% block body %}

    <div class="container">
        <div class="row">

    <div class="col-xs-3"><img class="home-icon" src="{{ asset('images/booksToPc.jpg') }}" alt="Pc book"></div>
                <div class="col-xs-6">
                    <h2 style="text-align: center">Welcome to Online Library!</h2>
                    <p style="text-align: center">This is a website, where you can add or read books.</p>
                    <p style="text-align: center">Here you can:</p>
                    <p style="text-align: center">Add books</p>
                    <p style="text-align: center">Read books</p>
                    <p style="text-align: center">View books</p>
                    <p style="text-align: center">Edit your books</p>
                    <p style="text-align: center">Review book description</p>
                    <p style="text-align: center">Search for a book</p>
                    <p style="text-align: center">Comment</p>
                    <p style="text-align: center">Here we have the best books!</p>
                    <p style="text-align: center">You can do all that, just register!</p>


                    {#<img class="home-icon" src="{{ asset('images/galacticLib.jpg') }}" alt="Galactic book">#}
                </div>
            <div class="col-xs-3"><img class="home-icon" src="{{ asset('images/onlineLib.jpg') }}" alt="Pc book"></div>
{% endblock %}